html {
    overflow-x: hidden;
}

.profile {
    height: 100vh;
    padding: 1rem;

    position: sticky;
    top: 0;

    word-break: break-all;

    flex-direction: column;
    justify-content: center;
}

.profile .theme {
    min-width: 20rem;
}

.profile .theme-settings {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

@media (max-width: 959px) {
    .profile {
        height: 60vh;

        position: relative;

        align-items: center;
    }

    .profile .theme {
        max-width: 25rem;
    }

    .profile .theme-settings {
        position: relative;

        margin-top: 0;
    }
}

/* html.dark-theme body[ambient-mode="true"]*/
html[class="dark-theme"] body[ambient-mode="true"] .ambient-image {
    position: absolute;

    filter: blur(64px);
    opacity: 0.7;

    width: 300px;
    height: max-content;

    transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

html[class="light-theme"] .ambient-image {
    display: none;
}

html[class="dark-theme"] body[ambient-mode="false"] .ambient-image {
    position: absolute;

    filter: blur(64px);
    opacity: 0;

    width: 300px;
    height: max-content;

    transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
