.profile {
    height: 100vh;
    padding: 1rem;

    position: sticky;
    top: 0;

    word-break: break-all;

    flex-direction: column;
    justify-content: center;
}

.profile .theme {
    max-width: 20rem;
}

@media (max-width: 959px) {
    .profile {
        height: 60vh;

        position: relative;

        align-items: center;
    }

    .profile .theme {
        width: 25rem;
    }
}

.images {
    /* min-height: 200vh; */
}
